html, body {
  height: 100%;
  width: 100%;
  background-color:#a9ceec;
  background-size:cover;
  cursor:crosshair;
 
}
button {
  height: 7%;
  width: 15%;
}

iframe {
  width:800px;
  height: 800px; 
  background:skyblue;
  
}

.sa {
  
}
body{
  
}
.nemui{
  color:#333c5e;
}

button {
  height: 7%;
  width: 15%;
}
iframe {
  width:800px;
  height: 500px; 
  
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

img {
  width: 40px;
  height: 40px;
}


h1{
  color:#333c5e;

  
}
.sss {

}
.youtube {
  color:#333c5e;
}
.watch {
  color:#333c5e;
}
h2{
  color:#333c5e;
  font-family: serif;

}
h3{
  color:black;
}
h4{
  color:#333c5e;
}
.iframe2 {
  width: 1000px;
  height: 700px;
}
.btnn{
  width: 1000px;
  height: 40px;
}
.ryo {
  font-size: 30px;
  color: red;;
}
.sensei{
  color:red;
}
.nemui {
  color:red;
  font-size: 30px;
}
.nia {
  background-color:black;
}
.a1 {
  color:#333c5e;
}
.a2 {
  color:#333c5e;
}
.a3 {
  color:#333c5e;
}
.a4 {
  color:#333c5e;
}

.a1:hover {
  color:skyblue;
  background-color:black;
}
.a2:hover  {
  color:skyblue;
  background-color:black;
}
.a3:hover  {
color:skyblue;
  background-color:black;
}
.a4:hover  {
  color:skyblue;
  background-color:black;
}
float {
  
  background-color:black;
  color:skyblue;
  font-size:30px;
}
float:hover{
  
  background-color:skyblue;
  color:black;
  font-size:30px;
}

html {
  
  
}

.oto {
  
  background-color:black;
  color:skyblue;
  font-size:30px;
}
.oto:hover{
  
  background-color:skyblue;
  color:black;
  font-size:30px;

}

